.mc-container-box{
  display: flex;
  flex-wrap: wrap;
  gap: 20px 20px;
}
.mc-container-box .MuiInputLabel-root.Mui-focused{
    color: #9c27b0 !important;
} 
.mc-container-box .MuiSelect-outlined{
  outline: #9c27b0;
}
.mc-container-box .Mui-focused .MuiOutlinedInput-notchedOutline{
  border-color: #9c27b0 !important;
}
.mc-label{
  color: #000;
}
.mc-prismjs-textarea{
  background-color: #2d2d2d;
}

/* Commands */
.mc-container-commands{
  display: block;
  margin-top: 20px;
}
.mc-container-row{
  display: grid !important;
  gap: 0 10px;
  grid-template-columns: 60px auto;
  margin-bottom: 30px;
}
.mc-container-commands__options{
  align-items: center;
  background-image: linear-gradient(62deg,#353538,#2e2e30 33%);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  padding-top: 10px;
}
.mc-container-commands__command{
  margin-bottom: 10px;
}
.mc-container-commands__meanings{
  display: grid;
  grid-template-columns: 50% 50%;
  max-width: 90vw;
}
.mc-modal-create-command-field{
  margin-top: 20px;
}
.mc-modal-create-command-btn-submit {
  margin-top: 20px;
  text-align: center;
}
.mc-code-style{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.mc-container-command{
  position: relative;
}
.mc-container-command > span{
  bottom: 0;
  left: 0;
  position: absolute;
  transform: scale(0.6) translate(-25%, 50%);
  z-index: 9;
}
.mc-container-command > span:hover{
  bottom: 0;
  left: 0;
  position: absolute;
  transform: scale(1);
  z-index: 9;
}