@import url('https://fonts.googleapis.com/css2?family=Ubuntu');

footer{
    box-sizing: border-box;
    color: rgb(133, 133, 133);
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    padding: 40px 0 20px 0;
    text-align: center;
}
footer > div{
    align-items: center;
    display: flex;
    gap: 0 20px;
    justify-content: center;
    margin-bottom: 10px;
}
footer > div a{
    color: rgb(133, 133, 133);
    font-size: 15px;
    padding: 2px;
    transition: all 0.2s ease-in;
}
footer > div a:hover{
    color: #FFF;
}
footer > div a:focus{
    box-shadow:  0px 0px 15px 2px #ce04a2;
    color: #FFF;
    outline: 2px solid #ce04a2; 
}
.footer-github{
    align-items: center;
    background-color: #25232b;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    gap: 0 10px;
    height: 32px;
    justify-content: space-evenly;
    padding: 5px 10px;
}
.footer-github a{
    text-decoration: none;
}
.linkedln{
    align-items: center;
    background-color: #25232b;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    height: 32px;
    justify-content: center;
    padding: 5px 10px;
    text-decoration: none;
}