#errors{
    align-items: center;
    animation: fadein 1s;
    background-color: rgb(219, 82, 78);
    box-sizing: border-box;
    display: none;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 16px;
    justify-content: space-between;
    left: 0;
    margin: 0 auto;
    padding: 10px;
    position: fixed;
    right: 0;
    top: 0;
    width: 50%;
    z-index: 10000;
}
@keyframes fadein {
    from {
      opacity:0;
    }
    to {
        opacity:1;
    }
 }
 #close-alert-error{
    border: none; 
    margin: 0;
 }