/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.cdnfonts.com/css/garishing-worse');
@import url('https://fonts.cdnfonts.com/css/ignis-et-glacies-extra-sharp'); */
@import url('https://fonts.cdnfonts.com/css/battambang-2');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body{
    background-color: #112d5e;
    background-image: linear-gradient(180deg, #0c2653 0%, #1d1a27 80%);
    color: #FFF;
    min-height: 100vh;
}

/* header */
header{
    align-items: center;
    display: flex;
    box-sizing: border-box;
    gap: 0 20px;
    height: 40px;
    justify-content: flex-end;
    padding-right: 10px;
}
header img{
    cursor: pointer;
}

/* main */
#title-web-page{
    color: #FFF;
    font-family: 'Battambang', sans-serif;                           
    font-size: 60px;
    text-align: center;
    word-wrap: break-word;
}
.search{
    box-sizing: border-box;
    border-radius: 20px;
    color: #000;
    display: grid;  
    grid-template-columns: 1fr 8fr 1fr;
    margin: 0 auto;
    width: 50%;
}
.search__button{
    background-color:  #FFF;
    border: none;
    cursor: pointer;
    z-index: 1;
}
.search__button:focus{
    box-shadow:  0px 0px 10px 2px #ce04a2;
    outline: 2px solid #ce04a2;
}
.search__button--left{
    border-radius: 20px 0 0 20px;
}
.search__button--right{
    border-radius: 0 20px 20px 0;
}
.search__input{
    border: none;
    box-sizing: border-box;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 20px;
    padding: 10px;
}
.search__input:focus{
    outline: none;
}

/* table */
.my-container{
    margin: 30px auto 0 auto;
    width: 50%;
}
.table{
    /* border: 1px solid red; */
    background-color: #333235;
    border-radius: 10px;
    width: 100%;
}








code{
    font-family: 'Ubuntu Mono', monospace;
    color: #FFF;
}
#info{
    font-family: 'Ubuntu', sans-serif;
    color: #FFF;
}
