/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.cdnfonts.com/css/garishing-worse');
@import url('https://fonts.cdnfonts.com/css/ignis-et-glacies-extra-sharp'); */
@import url('https://fonts.cdnfonts.com/css/battambang-2');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body{
    color: #FFF;
    min-height: 100vh;
}
.background-home{
    background-color: #112d5e;
    background-image: linear-gradient(180deg, #0c2653 0%, #1d1a27 50%);
}

/* header */
header{
    align-items: center;
    display: flex;
    box-sizing: border-box;
    gap: 0 20px;
    height: 40px;
    justify-content: flex-end;
    padding-right: 10px;
}
header img{
    cursor: pointer;
}

#title-web-page{
    color: #FFF;
    font-family: 'Battambang', sans-serif;                           
    font-size: 70px;
    margin: 0;
    padding: 70px 0;
    text-align: center;
    word-wrap: break-word;
}
/* main */
main{
    background-color: #1d1a27;
    min-height: calc( 100vh - 40px - 220px - 1px);
    /* height: 100%; */
}
/* icon search */
.fa-magnifying-glass{
    box-sizing: border-box;
    padding: 2px 0 0 5px;
}
/* icon filter */
#icon-filter{
    width: 20px;
}
#icon-filter div{
    border: 1.1px solid #000;
    box-sizing: border-box;
    margin: 4px 0;
    position: relative;
    width: 100%;
}
.icon-filter__circle{
    background-color: #FFF;
    border-radius: 50%;
    box-sizing: border-box;
    border: 1.5px solid #000;
    height: 5px;
    margin: 0;
    position: absolute;
    top: -2.5px;
    left: 3px;
    width: 5px;
    z-index: 99;
}
.icon-filter__circle--middle{
    left: 10px;
}
.search{
    box-sizing: border-box;
    border-radius: 20px;
    color: #000;
    display: grid;  
    grid-template-columns: 35px 8fr 35px;
    margin: 0 auto;
    width: 500px;
}
.search__button{
    background-color:  #FFF;
    border: none;
    cursor: pointer;
    z-index: 1;
}
.search__button:focus{
    box-shadow:  0px 0px 15px 2px #ce04a2;
    outline: 2px solid #ce04a2;
}
.search__button--left{
    border-radius: 20px 0 0 20px;
}
.search__button--right{
    border-radius: 0 20px 20px 0;
}
.search__input{
    border: none;
    box-sizing: border-box;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 20px;
    padding: 10px;
    width: 100%;
}
.search__input:focus{
    outline: none;
}
/* filter options */
.filters{
    background-color: #1d1a27;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 0;
    z-index: 999;
}
.filters__close{
    background-color: inherit;
    cursor: pointer;
    height: 40px;
    opacity: 0.6;
    position: relative;
    transition: all 0.5s ease-in;
    width: 40px;
}
.filters__close p:nth-child(1){
    background-color: #FFF;
    border: 1px solid #FFF;
    margin: 0;
    position: absolute;
    width: 20px;
    transform: rotate(45deg);
}
.filters__close p:nth-child(2){
    background-color: #FFF;
    border: 1px solid #FFF;
    margin: 0;
    position: absolute;
    width: 20px;
    transform: rotate(-45deg);
}
.filters__close:hover{
    opacity: 1;
}


/* list */
.my-container{
    margin: 30px auto 0 auto;
    width: 70%;
}
.list-container{
    background-color: #373739;
    background-image: linear-gradient(62deg, #373739 0%, #2e2e30 33%);    
    border-radius: 5px;
    display: grid;
    font-family: 'Ubuntu Mono', monospace;
    grid-template-columns: 1fr 2fr;
    margin: 15px 0;
    width: 100%;
}
.list-container p{
    box-sizing: border-box;
    margin: 10px 0;
    padding: 0 10px;
}










code{
    font-family: 'Ubuntu Mono', monospace;
    color: #FFF;
}
#info{
    font-family: 'Ubuntu', sans-serif;
    color: #FFF;
}

@media(max-width: 768px){
    .search{
        width: 400px;
    }
}
@media(max-width: 480px){
    .search{
        width: 250px;
    }
}