.menu-container{
  background-color: #ffffff;
  border-radius: 0 0 10px 20px;
  box-sizing: border-box;
  height: 50px;
  margin: 0 auto;
  position: relative;
  width: 20vw;
}
.menu-container::before{
  background-color: transparent;
  border-top-left-radius: 15px;
  box-shadow: 0 -25px 0 0 #FFF;
  box-sizing: border-box;
  content: "";
  height: 50px;
  position: absolute;
  top: 0;
  transform: rotate(90deg);
  transform-origin: left top;
  width: 30px;
}
.menu-container::after{
  background-color: transparent;
  border-top-right-radius: 15px;
  box-shadow: 0 -25px 0 0 #FFF;
  box-sizing: border-box;
  content: "";
  height: 50px;
  /* It’s same width */
  right: -30px; 
  position: absolute;
  transform: scale(-1, 1);
  top: 0;
  width: 30px;
}
ul{
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  gap: 0 25px;
  list-style-type: none;
  height: 100%;
  margin: 0;
  padding: 0;
}
ul li {
  cursor: pointer;
}
ul li a{
  align-items: center;
  color: black;
  display: flex;
  justify-content: center;
  text-decoration: none;
}
.active-link-menu{
  align-items: center;
  color: #1976d2;
  border-bottom: 1px solid #1976d2;
  box-sizing: border-box;
  display: flex;
  gap: 0 3px;
  justify-content: center;
}
.not-active-link-menu{
  align-items: center;
  border-bottom: none;
  box-sizing: border-box;
  color: black;
  display: flex;
  gap: 0 3px;
  justify-content: center;
}
.menu-title{
  margin-top: 5px;
}
.mc-menu{
  position: relative;
}
.mc-menu-children{
  display: none;
  position: absolute;
}
.mc-menu:hover .mc-menu-children{
  display: block;
  left: 0;
  top: 25px;
}